/* Global Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

p{
    color: black;
}

/* Transition */

a, .btn{
    transition: all 300ms ease;
}

/* Navigation Bar */

nav, .navLinks{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.navLinks{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: gray;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo:hover{
    cursor: default;
}

/* Sections */

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0;
}

.sectionContainer{
    display: flex;
    height: 20px;
}

/* Index.html State Intro Section */

#locationIntro {
    position: relative;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.stateIntroContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.locationImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.locationName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.locationName h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.locationName p {
    font-size: 1.2rem;
    color: white;
}
